@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Invoice</title>
    @WebReportGlobals.Scripts()
    @WebReportGlobals.Styles()
</head>
<body>
    @ViewBag.WebReport_qborbb.GetHtml()
</body>
</html>
